Repository netlify/headlesscms.org, pull requests merged in 2020-06, with the labels that each got.

#319 strapi.md Getting Started Docs link updated
  content/projects/strapi.md
Labels: type: chore

#317 Fix typos
  content/projects/b2evolution.md
  content/projects/directus.md
  content/projects/troglio.md
Labels: type: bug

#318 Update tinacms.md
  content/projects/tinacms.md
Labels: type: content

#307 Update Cosmic Brand
  content/projects/cosmicjs.md
Labels: type: content
